body{
     background-color: rgb(243, 194, 134);
     color: white;
     font-family: "Moderustic", sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;   
}

button{
    background-color: aqua;
    color: antiquewhite;
    font-family: "Moderustic", sans-serif;
}

.passo{
    display: none;
}

passo.ativo{
    display: block;
}